body, html {
    height: 100%;
}

/***** Hero  *****/
.hero-image {
  background-image: url("/Users/noels/Desktop/gut-brain-science-foundation/brain-gut.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 3vw;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  color: white;
}

.main-text-title {
    font-family: 'Baloo Paaji 2', cursive;
}

.main-text-sub {
    text-decoration: underline;
}